    *{
    text-decoration: none;
    }


  header {
     background-color: #9677b5;
     width: 100%;
     height: 100px;
     position: fixed;
     z-index: 10; 
    }

  .navbar {
     display:flex;
     float: center;
     align-items: center;
     justify-content: space-evenly;
     padding-top: 10px;
     padding-left: 50px;
    }

  .logo {
     color: black;
    }

  .logo img {
     width: 80px;
     border-radius: 50%;
    }

  li {
     list-style: none;
     display: inline-flex;
     position: static;
     padding: 16px 17px;
    }

  li a:hover {
     color: burlywood;
    }

  li a {
     font-family:sans-serif ;
     font-size: 25px;
     color: white;
     margin-right: 20px;
     font-weight: bold;
    }

  main {
     padding-top: 100px;
    }


 .text {
     color: #8b61c2; 
     top: 20%; 
     bottom: 50%;
     right: 60%;
     left: 40%; 
     margin: 50px;
     font: 1em Georgia;
     text-align: center;
     position: absolute; 
     transform: translate(50%, 50%);
     z-index: 1;
    }

 
 .fullbg {
     background-image: url("backgroundcloudy.jpg");
     height: 400vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
    }

 .gradientbg {
     background-image: linear-gradient(#DFC5FE, #ADD8E6);
     height: 80vh;
     position: relative;
    }
    

 .halfbg {
     position: relative;
     max-width: 100%;
     overflow: hidden; 
     height: 80vh; 
     z-index: 3;
    }

 .halfbg img {
     width: 100%;
     display: none; 
     padding-top: 30px;
    }

 .halfbg img.active {
     display: block;
    }

 .toTOP {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 20px;
    z-index: 10;
    animation-name: appear;
    animation-timeline: scroll(y);
 }

 .toTOP img {
    width: 50px;
 }

 
 html {
    scroll-behavior: smooth;
 }

 .boxcontainer {
     display: flex;
     padding-top: 200px;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     column-gap: 2em;
     position: relative; 
     bottom: 10px;  
    }

 .boxtext1{
     position: absolute; 
     bottom: 0;
     font: Georgia;
    }

 .boxtext2{
     position: absolute; 
     bottom: 0;
     font: Georgia;
    }

 .boxtext3{
    position: absolute; 
    bottom: 0;
    font: Georgia;
    }

 .boxtext4{
    position: absolute; 
    bottom: 0;
    font: Georgia;
    }

 .box {
     width: 300px;
     height: 300px;
     display: flex; 
     justify-content: center; 
     align-items: center; 
     z-index: 3;
     transition: transform 0.10s;
     text-align: bottom;
     }

 .box:hover {
     transform: translateY(-50px);
    }

  img{
     width: 200px;
     background-position: center;
    }
    

    #box1 {
        background-image: linear-gradient(#a1dcfa, #a79ccd);
        }
    
    #box2 {
        background-image: linear-gradient(#a1dcfa, #a79ccd);
    }
    
    #box3 {
        background-image: linear-gradient(#a1dcfa, #a79ccd);
    }
    
    #box4 {
        background-image: linear-gradient(#a1dcfa, #a79ccd);
    }
    
    
    .button1 {
        margin-top: 300px;
        transform-origin: center;
        top: 50%; 
        left: 50%;
         transform: translate(-50%, -50%); 
        font-size: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        padding: 0.7em 2em;
        border: 3px solid rgb(243, 125, 247);
        border-radius: 2px;
        position: absolute;
        box-shadow: 0 2px 10px rgb(0, 0, 0, 0.16), 0, 3px, 6px, rebeccapurple;
        color: rgb(237, 158, 240);
        text-decoration: none;
        transition: 0.3 ease all;
        z-index: 3;
    }
    
    .button1:before{
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: '';
        background-color: rgb(152, 60, 238);
        z-index: -1;
    }
     
    .button1:hover,button:focus {
        color: rgb(148, 190, 226);
    
    }
    
    .button1:hover:before,button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    }
    
    .button1:active {
        transform: translate(-50%, -50%) scale(0.95);
    }
    
   

    .flaskcontainer {
        margin-top: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 10em;
        position: absolute; 
        bottom: 10px;  
        position: relative;
       }

       .flask {
        width: 400px;
        height: 400px;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        z-index: 3;
        }

    #flaskleak img {
            width: 350px;
            height: auto;
            background-position: center;
        }

        #flaskcoldhot img {
            width: 350px;
            height: auto;
            background-position: center;
        }

        #flaskleak {
            background-image: linear-gradient( #C6BBDF , #8a7ca3 );
            }
        
        
        #flaskcoldhot {
            background-image: linear-gradient(#C6BBDF, #8a7ca3);  
        }
        

        .button2 {
            margin-top: 250px;
            transform-origin: center;
            top: 50%; 
            left: 50%;
             transform: translate(-50%, -50%); 
            font-size: 18px;
            letter-spacing: 2px;
            text-transform: uppercase;
            display: inline-block;
            text-align: center;
            font-weight: bold;
            padding: 0.7em 2em;
            border: 3px solid rgb(24, 146, 218);
            border-radius: 2px;
            position: absolute;
            box-shadow: 0 2px 10px rgb(0, 0, 0, 0.16), 0, 3px, 6px, rgb(100, 78, 224);
            color: rgb(127, 234, 248);
            text-decoration: none;
            transition: 0.3 ease all;
            z-index: 3;
        }
        
        .button2:before{
            transition: 0.5s all ease;
            position: absolute;
            top: 0;
            left: 50%;
            right: 50%;
            bottom: 0;
            opacity: 0;
            content: '';
            background-color: rgb(0, 217, 255);
            z-index: -1;
        }
         
        .button2:hover,button:focus {
            color: rgb(0, 34, 63);
        
        }
        
        .button2:hover:before,button:focus:before {
        transition: 0.5s all ease;
        left: 0;
        right: 0;
        opacity: 1;
        }
        
        .button2:active {
            transform: translate(-50%, -50%) scale(0.95);
        }
        
       

        .chooseuscontainer {
            margin-top: 400px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 10em;
            position: absolute; 
            bottom: 200px;  
            position: relative;
           }
    
           .chooseustext{
            position: absolute; 
            top: 130px;
            font: Georgia;
            font-size: 23px;
            color: #8b61c2;
           }
           
           .chooseustext1{
            position: absolute; 
            top: 190px;
            font: Georgia;
            font-size: 23px;
            color: #8b61c2;
           }

           .chooseustext2{
            position: absolute; 
            top: 260px;
            font: Georgia;
            font-size: 23px;
            color: #8b61c2;
           }

           .chooseustext3{
            position: absolute; 
            bottom: 260px;
            font: Georgia;
            font-size: 23px;
            color: #8b61c2;
           }

           .chooseustext4{
            position: absolute; 
            bottom: 190px;
            font: Georgia;
            font-size: 23px;
            color: #8b61c2;
           }

           .chooseustext5{
            position: absolute; 
            bottom: 130px;
            font: Georgia;
            font-size: 23px;
            color: #8b61c2;
           }

          
        .chooseus img {
                width: 180vh;
                height: auto;
                background-position: center;
            }
    
           
            