* {
    text-decoration: none;
    }


  header {
     background-color: #9677b5;
     width: 100%;
     height: 100px;
     position: fixed;
     z-index: 10; 
    }

  .navbar {
     display:flex;
     float: center;
     align-items: center;
     justify-content: space-evenly;
     padding-top: 10px;
     padding-left: 50px;
    }

  .logo {
     color: black;
    }

  .logo img {
     width: 80px;
     border-radius: 50%;
    }

  li {
     list-style: none;
     display: inline-flex;
     position: static;
     padding: 16px 17px;
    }

  li a:hover {
     color: burlywood;
    }

  li a {
     font-family:sans-serif ;
     font-size: 25px;
     color: white;
     margin-right: 20px;
     font-weight: bold;
    }

  main {
     padding-top: 100px;
    }


 .text {
     color: #8b61c2; 
     top: 50%; 
     bottom: 50%;
     right: 60%;
     left: 40%; 
     margin: 50px;
     font: 1em Georgia;
     text-align: center;
     position: absolute; 
     transform: translate(50%, 50%);
     z-index: 1;
    }

 
 .fullbg {
     background-image: url("backgroundcloudy.jpg");
     height: 250vh; 
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
    }

 .gradientbg {
     background-image: linear-gradient(#DFC5FE, #ADD8E6);
     height: 80vh;
     position: relative;
    }
    

 .halfbg {
     position: relative;
     max-width: 100%;
     overflow: hidden; 
     height: 80vh; 
     z-index: 3;
    }

 .halfbg img {
     width: 100%;
     display: none; 
     padding-top: 30px;
    }

 .halfbg img.active {
     display: block;
    }

 
 .boxcontainer {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     column-gap: 2em;
     position: absolute; 
     bottom: 10px;  
    }

 .boxtext1{
     position: absolute; 
     bottom: 0;
     font: Georgia;
    }

 .boxtext2{
     position: absolute; 
     bottom: 0;
     font: Georgia;
    }

 .boxtext3{
    position: absolute; 
    bottom: 0;
    font: Georgia;
    }

 .boxtext4{
    position: absolute; 
    bottom: 0;
    font: Georgia;
    }

 .box {
     width: 300px;
     height: 300px;
     display: flex; 
     justify-content: center; 
     align-items: center; 
     z-index: 3;
     transition: transform 0.10s;
     text-align: bottom;
     }

 .box:hover {
     transform: translateY(-50px);
    }

  img{
     width: 200px;
     background-position: center;
    }
    

    #box1 {
        background-image: linear-gradient(#a1dcfa, #a79ccd);
        }
    
    #box2 {
        background-image: linear-gradient(#a1dcfa, #a79ccd);
    }
    
    #box3 {
        background-image: linear-gradient(#a1dcfa, #a79ccd);
    }
    
    #box4 {
        background-image: linear-gradient(#a1dcfa, #a79ccd);
    }
    

    .flaskcontainer {
        margin-top: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 10em;
        position: absolute; 
        bottom: 10px;  
        position: relative;
       }

       .flask {
        width: 400px;
        height: 400px;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        z-index: 3;
        }

    #flaskleak img {
            width: 350px;
            height: auto;
            background-position: center;
        }

        #flaskcoldhot img {
            width: 350px;
            height: auto;
            background-position: center;
        }

        #flaskleak {
            background-image: linear-gradient( #C6BBDF , #8a7ca3 );
            }
        
        
        #flaskcoldhot {
            background-image: linear-gradient(#C6BBDF, #8a7ca3);  
        }
        