* {
    text-decoration: none;
}
body {
    background-image: url(Hilee\ UI.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
header {
    background: 9677b5;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 10;
}
.navbar {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-left: 50px;
}

.logo {
    color: black;
}
.logo img {
    position: relative;
    bottom: 12px;
    width: 80px;
    border-radius: 50%;
}
li {
    position: relative;
    top: 10px;
    list-style: none;
    display: inline-flex;
    padding: 16px 17px;
}
li a:hover {
    color: burlywood;
}
li a {
    font-family:sans-serif ;
    font-size: 25px;
    color: white;
    margin-right: 20px;
    font-weight: bold;
}
main {
    padding-top: 100px;
}

.cart-icon{
    position: relative;
    width: 75px;
    height: 75px;
    left: 100px;
    font-size: 30px;
    color: white;
    display: inline-flex;  
    z-index: 99; 
} 

 .cart-count {
    position: fixed;
    top: 28px;
    right: 125px;
    width: 20px;
    height: 20px;
    background: #e35f26;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    line-height: 20px;
    text-align: center;
    display: inline-flex;
    z-index: 100;
}

.cart{
    padding: 110px 9% 30px;
}

.shopheader{
    display: flex;
    padding: 10px 0;
    font-weight: bold;
    border-bottom: 3px solid #9677b5 ;
}

.shopheader span{
    flex: 1;
    text-align: center;
}

.shopheader span:first-child{
    flex: 2;
    text-align: left;
}

.hl-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 3px solid #9677b5;
}

.hl-item .product{
    display: flex;
    align-items: center;
    flex: 2;
}

.hl-item img{
    width: 100px;
    margin-right: 15px;
    filter: drop-shadow(5px 5px 10px #555);
}

.hl-items .sizencolorvariety{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.hl-item .size{
    padding: 6px 12px;
    background: #eccbeb;
    font-size: 14px;
}

.hl-item :is(.quantity, .price, .total){
    flex: 1;
    text-align: center;
}

.hl-item .quantity input{
    width: 50px;
    padding: 5px;
    border: 1px solid #9677b5;
    outline: none;
    text-align: center;
}

.hl-item .remove{
    background: transparent;
    border: none;
    flex: 1;
}

.hl-item .remove i{
    font-size: 20px;
    color: #9677b5;
    cursor: pointer;
}

.hl-total{
    width: 300px;
    margin: 30px 0 0 auto;
}

.hl-total h1{
    margin-bottom: 15px;
}

.hl-total p{
    display: flex;
    justify-content: space-between;
}

.hl-total p:not(:last-of-type){
    border-bottom: 1px solid #000000;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.hl-total p:last-of-type{
    font-weight: bold;
}

.add-prod{ display: flex;
    padding: 12px 50px;
    background: #222;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;


} 
.check-out{
    display: inline-flex;
    padding: 12px 50px;
    background: #222;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
 
}
